*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/
out/

#eclipst ignore
.settings/
.project
.classpath
.factorypath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
classes/

#temp file
*.log
*.cache
*.diff
*.tmp

#system ignore
.DS_Store
Thumbs.db

#JReble ignore
rebel.xml

#yml ignore
application-redis.yml