<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codex.netdisk.dao.friends.TbFriendsDao">

    <resultMap type="cn.codex.netdisk.model.entity.TbFriends" id="TbFriendsMap">
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="friendname" column="friendname" jdbcType="VARCHAR"/>
        <result property="userToFrindRemark" column="user_to_frind_remark" jdbcType="VARCHAR"/>
        <result property="frindToUserRemark" column="frind_to_user_remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        username, friendname, user_to_frind_remark, frind_to_user_remark
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="TbFriendsMap">
        select
          username, friendname, user_to_frind_remark, frind_to_user_remark
        from tb_friends
        where username = #{username}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbFriendsMap">
        select
          username, friendname, user_to_frind_remark, frind_to_user_remark
        from tb_friends
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbFriendsMap">
        select
        username, friendname, user_to_frind_remark, frind_to_user_remark
        from tb_friends
        <where>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="friendname != null and friendname != ''">
                and friendname = #{friendname}
            </if>
            <if test="userToFrindRemark != null and userToFrindRemark != ''">
                and user_to_frind_remark = #{userToFrindRemark}
            </if>
            <if test="frindToUserRemark != null and frindToUserRemark != ''">
                and frind_to_user_remark = #{frindToUserRemark}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="username" useGeneratedKeys="true">
        insert into tb_friends(user_to_frind_remark, frind_to_user_remark)
        values (#{userToFrindRemark}, #{frindToUserRemark})
    </insert>

    <insert id="insertBatch" keyProperty="username" useGeneratedKeys="true">
        insert into tb_friends(user_to_frind_remark, frind_to_user_remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userToFrindRemark}, #{entity.frindToUserRemark})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="username" useGeneratedKeys="true">
        insert into tb_friends(user_to_frind_remark, frind_to_user_remark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userToFrindRemark}, #{entity.frindToUserRemark})
        </foreach>
        on duplicate key update
        user_to_frind_remark = values(user_to_frind_remark) , frind_to_user_remark = values(frind_to_user_remark)
    </insert>

    <insert id="insertSelective" parameterType="cn.codex.netdisk.model.entity.TbFriends">
        insert into tb_friends
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="friendname != null">
                friendname,
            </if>
            <if test="userToFrindRemark != null">
                user_to_frind_remark,
            </if>
            <if test="frindToUserRemark != null">
                frind_to_user_remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="friendname != null">
                #{friendname,jdbcType=VARCHAR},
            </if>
            <if test="userToFrindRemark != null">
                #{userToFrindRemark,jdbcType=VARCHAR},
            </if>
            <if test="frindToUserRemark != null">
                #{frindToUserRemark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_friends
        <set>
            <if test="userToFrindRemark != null and userToFrindRemark != ''">
                user_to_frind_remark = #{userToFrindRemark},
            </if>
            <if test="frindToUserRemark != null and frindToUserRemark != ''">
                frind_to_user_remark = #{frindToUserRemark},
            </if>
        </set>
        where username = #{username}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tb_friends where username = #{username}
    </delete>

</mapper>