<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codex.netdisk.dao.FoldersMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.codex.netdisk.model.entity.Folders">
        <id column="folder_id" property="folderId"/>
        <result column="dir" property="dir"/>
        <result column="folder_name" property="folderName"/>
        <result column="is_hidden" property="hidden"/>
        <result column="is_deleted" property="deleted"/>
        <result column="creator" property="creator"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        folder_id,
        dir,
        folder_name,
        is_hidden,
        is_deleted,
        creator,
        gmt_create,
        gmt_modified
    </sql>

    <select id="selectRenameCount" resultType="java.lang.Integer">
        select max(convert(substring(substring(folder_name, locate('(', folder_name), length(folder_name)), 2,
                                     length(substring(folder_name, locate('(', folder_name), length(folder_name))) -
                                     2), signed)) + 1 as count
        FROM tb_folders
        WHERE dir = #{dir}
          and creator = #{username}
          and folder_id <![CDATA[ <> ]]> #{folderId}
          and is_deleted = 0
          and (folder_name = #{newFolderName} or folder_name like concat(#{newFolderName}, '(%)'))
    </select>

    <update id="moveFolder">
        update tb_folders
        set dir = #{dir}
        where folder_id = #{folderId}
    </update>

    <update id="batchMoveFolder">
        update tb_folders
        set dir = #{dir}
        where folder_id in
        <foreach collection="folderIds" item="folderId" separator="," open="(" close=")">
            #{folderId}
        </foreach>
    </update>
</mapper>
